:root {
    --navbar-height: 56px; 
    --green1: #9dffb0; /* (157, 255, 176) */
    --blue1: #81f1f7; /* (129, 241, 247) */
    --white1: #fffffa; /* (255, 255, 250) */
    --brown1: #c48d3f; /* (196, 141, 63) */
    --yellow1: #fff563; /* (255, 245, 99) */
  }