.custom-navbar {
    background-color: #dedede; /* Custom background color */
}


.custom-navbar-brand{
    padding-left: 1%;
    color: #308292;
}

.btn custom-btn-outline-success{
    /*
    *create a custom btn
   */
}

.card {
    padding-bottom: 20px;
}

.container {
    padding: 35px;
}

.adopt-me-button {
    position : absolute;
    left: 10px;
    bottom: 0px;

}