@import url("universal.css");

main {
    padding-top: calc(var(--navbar-height) + 20px);
}

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

h1, h2, h3 {
    font-family: 'Ultra', serif; 
}

header {
    background-color: #f2f2f2;
    padding: 10px 0;
    text-align: center;
    
}

.normal-text {
    font-family: 'Belanosima', sans-serif;
    font-weight: 400; 
    
}


.contact-info {
    margin: 20px 0;
    text-align: center;
}

.contact-info h1 {
    margin-bottom: 0;
    text-align: center;
}

.contact-form form {
    margin: auto;
    width: 80%;
    max-width: 500px;
}

.contact-form label {
    display: block;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.company-images img {
    width: 100%;
    max-width: 500px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.contact-btn{
    border: 2px solid var(--brown1);
    border-radius: 10px;
}
.contact-form h2 {
    text-align: center;
}

p {
    margin: 0;
}

.container{
    width:fit-content;
    background-color: rgba(227, 236, 99, 0.432);
    border-radius: 60px;
}

body{
    background: radial-gradient(circle at top left, transparent 9%, var(--pattern1) 10%, var(--pattern1) 15%, transparent 16%),
    radial-gradient(circle at bottom left, transparent 9%, var(--pattern1) 10%, var(--pattern1) 15%, transparent 16%),
    radial-gradient(circle at top right, transparent 9%, var(--pattern1) 10%, var(--pattern1) 15%, transparent 16%),
    radial-gradient(circle at bottom right, transparent 9%, var(--pattern1) 10%, var(--pattern1) 15%, transparent 16%),
    radial-gradient(circle, transparent 10%, #ffffff 26%), 
    linear-gradient(0deg, transparent 44%, var(--pattern1) 45%, var(--pattern1) 55%, transparent 56%),
    linear-gradient(90deg, transparent 44%, var(--pattern1) 45%, var(--pattern1) 55%, transparent 56%);
background-size: 3em 3em;
background-color: rgba(255, 255, 255, 1); 
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    width: 100%;
    background-color: rgb(255, 241, 176);
    bottom: 0;
    left: 0;
    font-size: medium;
}

.gtranslate_wrapper {
    align-self: flex-end;
}

@media (max-width: 768px) {
    .contact-form form, .company-images img {
        width: 80%;
    }
    
    .contact-info, .company-images, .contact-form {
        text-align: center;
    }

    .contact-form form {
        max-width: 80%;
    }

    .contact-info h1, .contact-form h1 {
        font-size: 2rem;
        text-align: center;
    }

    footer{
        font-size: 0.8rem;
    }
}
