@import url("universal.css");

/*
* Carousel Styling
*/

#carousel-top-text{
    /*why are none of these workin???*/
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
}
#featured-animals{
    background-color:var(--white1);
    padding-top: var(--navbar-height);
}

#featured-animals-container{
    margin-left: 15vw;
    margin-right: 15vw;
    height:auto;
}

.col{
    width: 15vw;
}

.card {
    margin: 1vw;
  }

.card-body{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 10vh;
}
  
.card-img-top {
    height: 40vh;
    object-fit:cover;
}

/* link tags
*  A lot of Bootstrap overriding..
*/

a {
    text-decoration: none;
    color: var(--text);
}

h1 a{
    text-decoration: none;
    color: var(--text);
}

div a{
    text-decoration: none;
    color: var(--text);
}

a:visited {
    color: var(--text); /* Change the color of visited links */
}


/*
  Pannels
*/

.pannel{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
}

.animal-pannel{
    background-color: var(--white1);
    border: 2px solid var(--brown1);
    border-radius: 10px;
}
.animal-content{
    background-color: var(--pattern1);
    border: 2px solid var(--brown1);
    border-radius: 10px;
}

.info-pannel{
    background-color: var(--white1);
    border: 2px solid var(--yellow1);
    border-radius: 10px;
}

.info-content{
    background-color: var(--lightblue1);
    border: 2px solid var(--white1);
    border-radius: 10px;
}

.donate-pannel{
    background-color: var(--yellow1);
    border: 2px solid var(--white1);
    border-radius: 10px;
}

.donate-content{
    background-color: var(--lightblue1);
    border: 2px solid var(--white1);
    border-radius: 10px;
}

.pannel-top{
    overflow: auto;
    padding-bottom: 1rem;
}

.icon path {
    fill: var(--icon);
}

.content-holder{
    text-align: center;
}

.content-holder{
    margin-left: 15vw;
    margin-right: 15vw;
}
.content{
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}


/*Div backgrounds*/
#div1,#div2,#div3{
    height:100vh;
    padding-top: var(--navbar-height);
}

#featured-animals{
    background: radial-gradient(circle at top left, transparent 9%, #ffffff  10%, var(--pattern1) 15%, transparent 16%),
                radial-gradient(circle at bottom left, transparent 9%, #ffffff  10%, var(--pattern1) 15%, transparent 16%),
                radial-gradient(circle at top right, transparent 9%, #ffffff  10%, var(--pattern1) 15%, transparent 16%),
                radial-gradient(circle at bottom right, transparent 9%, #ffffff  10%, var(--pattern1) 15%, transparent 16%),
                radial-gradient(circle, transparent 10%, #ffffff 26%), /*This is actually the largest color*/
                linear-gradient(0deg, transparent 44%, #ffffff  45%, var(--pattern1) 55%, transparent 56%),
                linear-gradient(90deg, transparent 44%, #ffffff  45%, var(--pattern1) 55%, transparent 56%);
    background-size: 3em 3em;
    background-color: rgba(255, 255, 255, 1); /* Set background color with 80% opacity */
}

#div1{
    background: radial-gradient(circle at top left, transparent 9%, var(--pattern1) 10%, var(--pattern1) 15%, transparent 16%),
                radial-gradient(circle at bottom left, transparent 9%, var(--pattern1) 10%, var(--pattern1) 15%, transparent 16%),
                radial-gradient(circle at top right, transparent 9%, var(--pattern1) 10%, var(--pattern1) 15%, transparent 16%),
                radial-gradient(circle at bottom right, transparent 9%, var(--pattern1) 10%, var(--pattern1) 15%, transparent 16%),
                radial-gradient(circle, transparent 10%, #ffffff 26%), /*This is actually the largest color*/
                linear-gradient(0deg, transparent 44%, var(--pattern1) 45%, var(--pattern1) 55%, transparent 56%),
                linear-gradient(90deg, transparent 44%, var(--pattern1) 45%, var(--pattern1) 55%, transparent 56%);
    background-size: 3em 3em;
    background-color: rgba(255, 255, 255, 1);
}

#div2{
    background: radial-gradient(circle at top left, transparent 9%, #ffffff  10%, var(--pattern1) 15%, transparent 16%),
                radial-gradient(circle at bottom left, transparent 9%, #ffffff  10%, var(--pattern1) 15%, transparent 16%),
                radial-gradient(circle at top right, transparent 9%, #ffffff  10%, var(--pattern1) 15%, transparent 16%),
                radial-gradient(circle at bottom right, transparent 9%, #ffffff  10%, var(--pattern1) 15%, transparent 16%),
                radial-gradient(circle, transparent 10%, #ffffff 26%), /*This is actually the largest color*/
                linear-gradient(0deg, transparent 44%, #ffffff  45%, var(--pattern1) 55%, transparent 56%),
                linear-gradient(90deg, transparent 44%, #ffffff  45%, var(--pattern1) 55%, transparent 56%);
    background-size: 3em 3em;
    background-color: rgba(255, 255, 255, 1); /* Set background color with 80% opacity */
}

#div3{
    background: radial-gradient(circle at top left, transparent 9%, var(--pattern1) 10%, var(--pattern1) 15%, transparent 16%),
                radial-gradient(circle at bottom left, transparent 9%, var(--pattern1) 10%, var(--pattern1) 15%, transparent 16%),
                radial-gradient(circle at top right, transparent 9%, var(--pattern1) 10%, var(--pattern1) 15%, transparent 16%),
                radial-gradient(circle at bottom right, transparent 9%, var(--pattern1) 10%, var(--pattern1) 15%, transparent 16%),
                radial-gradient(circle, transparent 10%, #ffffff 26%), /*This is actually the largest color*/
                linear-gradient(0deg, transparent 44%, var(--pattern1) 45%, var(--pattern1) 55%, transparent 56%),
                linear-gradient(90deg, transparent 44%, var(--pattern1) 45%, var(--pattern1) 55%, transparent 56%);
    background-size: 3em 3em;
    background-color: rgba(255, 255, 255, 1); /* Set background color with 80% opacity */
}


/*
* MAP Styling
*/

#map {
    height: 30vh;
    position: relative; 
  }
  
  #map .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(210, 65, 65);
    background-color: rgb(255, 255, 255,0.8);
    font-size: 18px;
    font-weight: bold;  
  }

.overlay svg {
    width: 20px;
    height: 20px;
    fill: white;
    stroke: rgb(210, 65, 65);
    stroke-width: 2px;  
    vertical-align: middle;
}


footer{
    text-align: center;
    color: white;
    background-color: black;
}

@media (max-width: 800px) {
    #featured-animals-container{
        margin-left: 3vw;
        margin-right: 3vw;
    }
    .content-holder{
        margin-left: 0vw;
        margin-right: 0vw;
    }
}

/* Media query for smaller screens 
*  Carousel Sizing 
*/
@media (max-width: 480px) {

    .card-img-top {
        max-height: 150px;
    }
    .card-title{
        font-size: medium;
    }
    .card-text{
        font-size: small;
    }

    #featured-animals-container{
        margin-left: 0rem;
        margin-right: 0rem;
    }

    footer{
        font-size: 0.8rem;
    }
}
