
.custom-navbar {
    background-color: #dedede; /* Custom background color */
 }
 

.custom-navbar-brand{
    padding-left: 1%;
    color: #308292;
}

.btn custom-btn-outline-success{
    /*
    *create a custom btn
   */
}

#carousel-animals{
    background-color:lightgrey;
}

.col .card {
    height: 300px; 
    position: relative;
  }
  
.card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover; 
}

#div1{
    height:100vh;
    background-color: lightgray;
}

#div2{
    height:100vh;
    background-color: darkgrey;
}

#div3{
    height:100vh;
    background-color: grey;
}

#map {
    height: 30vh;
    position: relative; 
  }
  
  #map .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(210, 65, 65);
    background-color: rgb(255, 255, 255,0.8);
    font-size: 18px;
    font-weight: bold;  
  }

.overlay svg {
    width: 20px;
    height: 20px;
    fill: white;
    stroke: rgb(210, 65, 65);
    stroke-width: 2px;  
    vertical-align: middle;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .col .card {
        height: 35vh;
    }
    .card-img-top {
        max-height: 150px;
    }
    .card-title{
        font-size: medium;
    }
    .card-text{
        font-size: small;
    }
}
